<body class="home">

<header>
  <div class="row">
    <div class="two columns menuColumn" [ngClass]="{active: menuToggle}">
      <div class="menuToggle">
        <div>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <a href="#" (click)="menuToggle = !menuToggle">{{menuToggle ? "Close" : "Menu"}}</a>
      </div>
      <nav class="menu">
        <ul>
          <li *ngFor="let menuItem of menuItems" [class.selected]="menuItem === selectedMenu"
              (click)="onSelect(menuItem)">
            {{menuItem.name}}
          </li>
        </ul>
      </nav>
    </div>
    <div class="two columns facebookColumn">
      <a target="_blank" href="https://www.facebook.com/pages/Yarwell-Village/1479648902331414">
        <img src="/assets/images/facebook.png" height="42" width="42"/>
      </a>
      <a target="_blank" href="https://twitter.com/YarwellVillage">
        <img src="/assets/images/twitter.png" height="42" width="42"/>
      </a>
    </div>
    <div class="six columns logoColumn">
      <div class="headerLogo">
        <a href="index.html"></a>
      </div>
    </div>
    <div class="two columns directionsColumn">
      <a href="https://www.google.com/maps/dir/Current+Location/52.5646884,-0.424955">Get Directions</a>
    </div>
  </div>
</header>

<main>
  <section class="banner">
    <div class="slideshow" ng-show="pageToShow=='home'">
      <!--
            <carousel interval="myInterval">
              <slide ng-repeat="slide in slides" active="slide.active">
                <img class="image-circle" ng-src="{{slide.image}}" style="margin:auto;" />
              </slide>
            </carousel>
      -->
    </div>
    <div class="strip"></div>
  </section>
  <section class="content">
    <div class="row breadcrumbs" ng-show="pageToShow!='home'">
      <div class="twelve columns">
        <a href="#" ng-click="pageToShow='home'">Home</a>
        <span>/</span> {{selectedMenu.name}}
      </div>
    </div>
    <div [innerHtml]='pageContent'></div>
  </section>
</main>

<footer>
  <div class="row">
    <div class="eight columns menuColumn">
      <nav class="menu">
        <ul>
          <li><a href="#" ng-click="pageToShow='history'">History</a></li>
          <li><a href="#" ng-click="pageToShow='villagehall'">Village Hall</a></li>
          <li><a href="#" ng-click="pageToShow='business'">Businesses</a></li>
        </ul>
        <ul>
          <li><a href="#" ng-click="pageToShow='local'">Services</a></li>
          <li><a href="#" ng-click="pageToShow='pub'">Pub</a></li>
          <li><a href="#" ng-click="pageToShow='church'">Church</a></li>
        </ul>
        <ul>
          <li><a href="#" ng-click="pageToShow='schools'">Schools</a></li>
          <li><a href="#" ng-click="pageToShow='council'">Parish Council</a></li>
          <li><a href="#" ng-click="pageToShow='band'">Band</a></li>
        </ul>
      </nav>
    </div>
    <div class="four columns contactColumn">
      <img src="/assets/images/logo-footer.png"/>
      <div class="contactLinks">
        <a class="email" target="_top" href="mailto:yarwellpc@btinternet.com">Parish Council</a>
        <a class="email" target="_top" href="mailto:yarwellnews@gmail.com">Newsletter</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="twelve columns termsColumn">
      <a class="email" target="_top" href="mailto:webmaster@yarwell.com">get involved in the website</a>
    </div>
  </div>
</footer>

</body>

