<body class="home">

<header>
  <div class="row">
    <div class="two columns menuColumn" [ngClass]="{active: menuToggle}">
      <div (click)="menuToggle = !menuToggle" class="menuToggle">
        <div>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <a href="#">{{menuToggle ? "Close" : "Menu"}}</a>
      </div>
      <nav class="menu">
        <ul>
          <li *ngFor="let menuItem of menuItems" [class.selected]="menuItem === selectedMenu">
            <a *ngIf="menuItem.name != 'Home'" href="#" (click)="setPageByMenu(menuItem)">{{menuItem.name}}</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="one columns facebookColumn">
      <a target="_blank" href="https://www.facebook.com/pages/Yarwell-Village/1479648902331414">
        <img src="/assets/images/facebook.png" height="42" width="42"/>
      </a>
    </div>
    <div class="six columns logoColumn">
      <div class="headerLogo">
        <a href="index.html"></a>
      </div>
    </div>
    <div class="two columns directionsColumn">
      <a href="https://www.google.com/maps/dir/Current+Location/52.5646884,-0.424955">Get Directions</a>
    </div>
  </div>
</header>

<main>
  <section class="banner">
    <div *ngIf="selectedMenu.name == 'Home'" class="slideshow">
      <carousel [images]="images" [autoplay]="true" [loop]="true" [cellsToShow]="1" [pauseOnHover]="false" [height]="476"></carousel>
    </div>
    <div class="strip"></div>
  </section>
  <section class="content">
    <div *ngIf="selectedMenu.name != 'Home'" class="row breadcrumbs">
      <div class="twelve columns">
        <a href="#" (click)="home()">Home</a>
        <span>/</span> {{selectedMenu.name}}
      </div>
    </div>
    <div [innerHtml]='selectedMenu.htmlContent'></div>
  </section>
</main>

<footer>
  <div class="row">
    <div class="eight columns menuColumn">
      <nav class="menu">
        <ul>
          <li><a href="#" (click)="setPageByMenuName('History')">History</a></li>
          <li><a href="#" (click)="setPageByMenuName('Village Hall')">Village Hall</a></li>
          <li><a href="#" (click)="setPageByMenuName('Businesses')">Businesses</a></li>
        </ul>
        <ul>
          <li><a href="#" (click)="setPageByMenuName('Services')">Services</a></li>
          <li><a href="#" (click)="setPageByMenuName('Pub')">Pub</a></li>
          <li><a href="#" (click)="setPageByMenuName('Church')">Church</a></li>
        </ul>
        <ul>
          <li><a href="#" (click)="setPageByMenuName('Schools')">Schools</a></li>
          <li><a href="#" (click)="setPageByMenuName('Parish Council')">Parish Council</a></li>
          <li><a href="#" (click)="setPageByMenuName('Band')">Band</a></li>
        </ul>
      </nav>
    </div>
    <div class="four columns contactColumn">
      <img src="/assets/images/logo-footer.png"/>
      <div class="contactLinks">
        <a class="email" target="_top" href="mailto:yarwellpc@btinternet.com">Parish Council</a>
        <a class="email" target="_top" href="mailto:yarwellnews@gmail.com">Newsletter</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="twelve columns termsColumn">
      <a class="email" target="_top" href="mailto:webmaster@yarwell.com">get involved in the website</a>
    </div>
  </div>
</footer>

</body>

